@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: hsla(0, 0%, 0%, 0.7);
  background-image:
    radial-gradient(at 93% 92%, hsla(187, 62%, 23%, 1) 0px, transparent 50%),
    radial-gradient(at 0% 100%, hsla(0, 14%, 12%, 1) 0px, transparent 50%),
    radial-gradient(at 100% 6%, hsla(336, 11%, 33%, 1) 0px, transparent 50%);
  color: white;
}

input {
  color: black;
}

